{% extends 'base.html' %}

{% block content %}
{% for post in posts %}
{% if post.author.username != current_user.username %}
<a href={{url_for('user', username=post.author.username)}}>
    <div class="col s12 m6">
        <div class="card blue-grey darken-1">
        <div class="card-content white-text">
                <span class="card-title">author : {{post.author.username}}</span>
                <span>created : {{post.date_created.strftime("%b %d %Y %H:%M:%S")}}</span>
                <p>{{post.text}}</p>
            </div>
        </div>
</a>
{% endif %}
{% endfor %}
{% endblock %}